<!DOCTYPE html>
<html>
    <head>
        <title>Django Girls blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Django Girls Blog</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">Pierwszy post</a></h2>
            <p>Ranking najlepszych basenów w Warszawie cz.1</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">Drugi post</a></h2>
            <p>Muzyczna lista tygodnia</p>
        </div>
    </body>
</html>